mixin about-company()
    section.about-company
        .about-company__block
            .about-company__text-wrapper
                h2.about-company__title О компании STG Infrastructure Pvt. Ltd
                p.about-company__text STG Infrastructure Pvt. Ltd. имеет более чем 20-летний опыт работы в дорожном строительстве и обрабатывающей промышленности. Экскаватор — погрузчик STG Cobra XTK90 собрал в себе лучшие наработки в сфере инжиниринга и проектирования строительной техники.
                p.about-company__text Надежный, неприхотливый и производительный, создан для работы в тяжелых условиях и требует минимальное количество внимания со стороны технического персонала. Многие технические решения были выбраны, как проверенные временем и доказавшие свою надежность.
                p.about-company__text Ходовая часть и КПП экскаватора разработки Carraro. Гидравлика от компании Parker/Kassapa. Двигатель Kirloskar 4R1040TA Производитель двигателей для STG Cobra XTK 90 — крупнейший промышленный конгломерат Индии Kirloskar. Модель двигателя Kirloskar 4R1040TA — результат еще одного международного сотрудничества, на этот раз с Cummins. Неприхотливый и надежный, он был создан для эксплуатации в тяжелых условиях. Номинальная мощность составляет 96 л. с.
                p.about-company__text STG Cobra XTK 90 это машина, построенная для глобального рынка с использованием опыта эксплуатации подобной техники по всему миру и предназначенная для интенсивного использования.
                p.about-company__text COBRA XTK 90 отличается повышенной грузоподъемностью и множеством проверенных функций, которые помогут вам повысить производительность и максимально увеличить время безотказной работы при одновременном снижении ежедневных эксплуатационных расходов.
            img.about-company__img(src="assets/img/about-1.jpg" alt='О компании STG Infrastructure Pvt. Ltd' width="705" height="750")
        .about-company__block.bottom
            img.about-company__img.bottom(src="assets/img/about-2.jpg" alt='COBRA XTK 90' width="705" height="641")
            .about-company__list-wrapper
                ul.about-company__list
                    li.about-company__item.item-1
                        span.about-company__item-text Эргономичная и просторная кабина
                    li.about-company__item.item-2
                        span.about-company__item-text Максимальная высота разгрузки
                    li.about-company__item.item-3
                        span.about-company__item-text Производительный ковш экскаватора
                    li.about-company__item.item-4
                        span.about-company__item-text Превосходная производительность и увеличенные интервалы обслуживания
                    li.about-company__item.item-5
                        span.about-company__item-text Максимальная глубина копания

