mixin services()
    section.services
        img.services__img(src="assets/img/service.jpg" alt="cobra xtk 90" height="100%" width="auto")
        .services__content
            h2.services__title Гарантийное и сервисное обслуживание
            p.services__text Специалисты сервисной службы имеют накопленный богатый опыт, который дает им уверенность определить и устранить неисправность в кратчайшие сроки, и избежать долгого простоя Вашей техники. Штат сервисной службы укомплектован специалистами, прошедшими обучения, обладающими необходимыми профессиональными знаниям, выполняющими все работы в строгом соответствии со стандартами завода изготовителя.
            h2.services__title.advantages Преимущество нашего сервиса
            ul.services__list
                li.services__item
                    span.services__icon.icon-1
                    span.services__advantages.max Персонал сервисной станции обучен и сертифицирован заводом изготовителем
                li.services__item
                    span.services__icon.icon-2
                    span.services__advantages.min Современное оборудование
                li.services__item
                    span.services__icon.icon-3
                    span.services__advantages.min Склад запасных частей
                li.services__item
                    span.services__icon.icon-4
                    span.services__advantages.min Оборудованные выездные бригады
