mixin cards()
    section.cards(id="cards")
        .cards__container
            .cards__card
                img.cards__img(src="assets/img/card-1.jpg" width="378" height="267" alt="COBRA XTK 90")
                .cards__content
                    .cards__text
                        h3.cards__title COBRA XTK 90
                        ul.cards__list
                            li.cards__item Двигатель Kirloskar 4R1040TA (Cummins)
                            li.cards__item Мощность двигателя - 90 л.с. (66.2 кВт)
                            li.cards__item Привод полный (подключаемый)
                            li.cards__item Привод полный (подключаемый)
                            li.cards__item Эксплуатационная масса - 8400 кг
                            li.cards__item Объём переднего ковша - 1,2 м3
                            li.cards__item Высота разгрузки - 3 м
                            li.cards__item Объем экскаваторного ковша - 0,18 м3
                            li.cards__item Максимальная глубина копания - 6,01 м
                            li.cards__item Усилие отрыва - 6018 кгс
                    .cards__buttons
                        button.cards__button.grey(type="button") Узнать цену
                        button.cards__button.white(type="button") Каталог

            .cards__card
                img.cards__img(src="assets/img/card-2.jpg" width="378" height="267" alt="COBRA XTP 90")
                .cards__content
                    .cards__text
                        h3.cards__title COBRA XTP 90
                        ul.cards__list
                            li.cards__item Двигатель Perkins 1104D-44TA
                            li.cards__item Мощность двигателя - 100 л.с. (75 кВт)
                            li.cards__item Привод полный (подключаемый)
                            li.cards__item Эксплуатационная масса - 8400 кг
                            li.cards__item Высота разгрузки - 3 м
                            li.cards__item Объем экскаваторного ковша - 0,18 м3
                            li.cards__item Максимальная глубина копания - 6,01 м
                            li.cards__item Усилие отрыва - 6018 кгс
                    .cards__buttons
                        button.cards__button.grey(type="button") Узнать цену
                        button.cards__button.white(type="button") Каталог

            .cards__card
                img.cards__img(src="assets/img/card-3.jpg" width="378" height="267" alt="COBRA RYD 850")
                .cards__content
                    .cards__text
                        h3.cards__title COBRA RYD 850
                        ul.cards__list
                            li.cards__item Двигатель Hyundai D4BB
                            li.cards__item Мощность двигателя - 48 л.с. (35.29 кВт)
                            li.cards__item Привод полный
                            li.cards__item Эксплуатационная масса - 2680 кг
                            li.cards__item Грузоподъемность - 850 кг
                            li.cards__item Объём переднего ковша - 0,5 м3
                            li.cards__item Высота разгрузки - 2,236 м
                    .cards__buttons
                        button.cards__button.grey(type="button") Узнать цену
                        button.cards__button.white(type="button") Каталог

