mixin card-modal-3()
    div.modal-form.card-modal(data-init="modal" data-type="modal-card-3")
        button.modal-form__close(type="button")
        .modal-form__body
            img.card-modal__img(src="assets/img/card-3.jpg" width="760" height="570" alt="COBRA XTP 90")
            .card-modal__content
                h2.modal-form__title COBRA RYD 850
                button.banners__button.yellow(type="button" data-type-modal="modal-form") Узнать цену
                p.card-modal__description COBRA RYD 850. Здесь описание, нужно встравить, я не смог открыть файлы. Не поддерживает расширени

