mixin menu()
    nav.menu
        a.menu__logo(href="#")
        ul.menu__list
            li.menu__item
                a.menu__link(href="#") Каталог
            li.menu__item
                a.menu__link(href="#") О компании
            li.menu__item
                a.menu__link(href="#") Сервис
            li.menu__item
                a.menu__link(href="#") Новости
            li.menu__item
                a.menu__link(href="#") Контакты
