mixin news()
    sectiona.news(id="news")
        h2.news__title Реализованные проекты
        ul.news__list
            li.news__item
                a.news__link(href='#' data-img="assets/img/news-1.jpg" data-title="Майские поступления" data-date="26.03.2023" data-description="Тут должен быть текст для новости, но пока просто эта надпись \n пока просто эта надпись")
                    img.news__img(src="assets/img/news-1.jpg" width="360" height="200")
                    h3.news__item-title Майские поступления
                    span.news__date 26.03.2023
            li.news__item
                a.news__link(href='#' data-img="assets/img/news-2.jpg" data-title="Майские поступления" data-date="26.03.2023" data-description="Тут должен быть текст для новости, но пока просто эта надпись \n пока просто эта надпись")
                    img.news__img(src="assets/img/news-2.jpg" width="360" height="200")
                    h3.news__item-title Отгрузка экскаватора-погрузчика на новые территории.
                    span.news__date 09.06.2023
            li.news__item
                a.news__link(href='#' data-img="assets/img/news-3.jpg" data-title="Майские поступления" data-date="26.03.2023" data-description="Тут должен быть текст для новости, но пока просто эта надпись \n пока просто эта надпись")
                    img.news__img(src="assets/img/news-3.jpg" width="360" height="200")
                    h3.news__item-title Майские поступления
                    span.news__date 27.05.2023
