@mixin webFont($family, $file, $weight: normal, $style: normal, $path: "/assets/fonts/") {
  @font-face {
    font-family: $family;
    src: url($path + $file + '.eot');
    src: url($path + $file + '.eot?#iefix') format('embedded-opentype'),
    url($path + $file + '.woff') format('woff'),
    url($path + $file + '.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
    font-stretch: normal;
    font-display: swap;
  }
}


@include webFont('Cyntho Pro', 'CynthoPro-Regular', 400, normal);
@include webFont('MazzardH-Bold', 'MazzardH-Bold', 700, normal);
@include webFont('MazzardH-Regular', 'MazzardH-Regular', 400, normal);
