// Font
$defaultFont                : 'CynthoPro', sans-serif;

// Size
$defaultColor            : #101010;
$defaultSize             : 18px;
$defaultFontWeight       : 400;
$defaultLineHeight       : 1.4;

// Main color
$black-grey              : #383838;
$light-grey              : #888888;
$yellow                  : #ffb700;
