extends ../layout/default

include ../components/cookie/cookie


block variables
  -
    const title = 'Главная страница';
    const description = 'Главная страница';
    const pageClass = 'index-page';

block content
  main.main

block script
