extends ../layout/default

include ../sections/banners/banners
include ../sections/cards/cards
include ../sections/callback-form/callback-form
include ../sections/about-company/about-company
include ../sections/about-steps/about-steps
include ../sections/advantages/advantages
include ../sections/servis/servis

block variables
  -
    const title = 'ЮГАВТОХОЛДИНГ';
    const description = 'ЮГАВТОХОЛДИНГ';
    const pageClass = 'index-page';

block content
  main.main
    +banners
    +cards
    +callback-form('Получить полный прайс-лист по экскаваторам-погрузчикам', 'Получить')
    +about-company
    +about-steps
    +advantages
    +callback-form('Рассчитать доставку до вашего города', 'Получить')
    +servis

block script
