extends ../layout/default

include ../sections/banners/banners
include ../sections/cards/cards

block variables
  -
    const title = 'Главная страница';
    const description = 'Главная страница';
    const pageClass = 'index-page';

block content
  main.main
    +banners
    +cards

block script
