extends ../layout/default

include ../sections/banners/banners
include ../sections/cards/cards
include ../sections/callback-form/callback-form
include ../sections/about-company/about-company
include ../sections/about-steps/about-steps
include ../sections/advantages/advantages
include ../sections/services/services
include ../sections/news/news
include ../sections/contacts/contacts

block variables
  -
    const title = 'ЮГАВТОХОЛДИНГ';
    const description = 'ЮГАВТОХОЛДИНГ';
    const pageClass = 'index-page';

block content
  main.main
    +banners
    +cards
    +callback-form('Получить полный прайс-лист по экскаваторам-погрузчикам', 'Получить')
    +about-company
    +about-steps
    +advantages
    +callback-form('Рассчитать доставку до вашего города', 'Получить')
    +services
    +callback-form('Оставить заявку на сервис', 'Получить')
    +news
    +contacts

block script
  //script(src="dist/bindings/inputmask.binding.js")
