mixin header()
  header.header(data-init="header")
    .header__contaner
      a(href="#").header__logo-text
      .header__contacts
        .header__prones
          a(href="tel:88005553064").header__phone т. 8 (800) 555-30-64
          a(href="tel:89281005547").header__phone т. 8 (928) 100-55-47
        .header__address
          p Ростов-на-Дону,<br>Буденновский проспект, 60, оф. 1201
      button(type='submit').header__callback Связаться с нами
      .header__social
        a(href="").header__social-link.watsapp
        a(href="").header__social-link.tg

