mixin modal-form()
    div.modal-form(data-init="modalForm")
        button.modal-form__close(type="button")
        .modal-form__body
            h2.modal-form__title Узнать цену
            form.callback-form__form(name="cheaper" method="get" action="https://jsonplaceholder.typicode.com/posts")
                .callback-form__fields
                    .callback-form__field
                        input(type="text" name="name-cheaper" id="name-cheaper" data-init="input-field" placeholder="Ваше имя" required)
                    .callback-form__field
                        input(type="email" name="email" id="email" minlength="3" data-init="input-field" placeholder="Ваш Email" required)
                    .callback-form__field
                        input(type="tel" name="phone-cheaper" id="phone-cheaper" minlength="18" maxlength="18" data-init="input-field" placeholder="+7(999) 999-99-99" required)
                    button.callback-form__button(type="submit")=submitText
                .callback-form__policy
                    span Нажимая на кнопку, вы даёте согласие на обработку своих персональных данных и соглашаетесь с
                    a(href="https://docs.google.com/document/d/1PvcUkw9lqQsu_po2jTTRLBXoRjfz8fx5ZvuRSB82CfA/edit") политикой конфиденциальности

