mixin servis()
    section.servis
        img.servis__img(src="assets/img/service.jpg" alt="cobra xtk 90" height="100%" width="auto")
        .servis__content
            h2.servis__title Гарантийное и сервисное обслуживание
            p.servis__text Специалисты сервисной службы имеют накопленный богатый опыт, который дает им уверенность определить и устранить неисправность в кратчайшие сроки, и избежать долгого простоя Вашей техники. Штат сервисной службы укомплектован специалистами, прошедшими обучения, обладающими необходимыми профессиональными знаниям, выполняющими все работы в строгом соответствии со стандартами завода изготовителя.
            h2.servis__title Преимущество нашего сервиса
                ul.servis__list
                    li.servis__item
                        span.servis__icon
                        span.servis__advantages Персонал сервисной станции обучен и сертифицирован заводом изготовителем
                    li.servis__item
                        span.servis__icon
                        span.servis__advantages Современное оборудование
                    li.servis__item
                        span.servis__icon
                        span.servis__advantages Склад запасных частей
                    li.servis__item
                        span.servis__icon
                        span.servis__advantages Оборудованные выездные бригады
