mixin news-modal-2()
    div.modal-form.news-modal(data-init="modal" data-type="modal-news-2")
        button.modal-form__close(type="button")
        .modal-form__body
            .news-modal__content
                h2.modal-form__title Отгрузка экскаватора-погрузчика на новые территории
                img.news-modal__img(src="assets/img/news-2.jpg" alt="Майские поступления" width="360" height="200")
                span.news__date 09.06.2023

