mixin news-modal-1()
    div.modal-form.news-modal(data-init="modal" data-type="modal-news-1")
        button.modal-form__close(type="button")
        .modal-form__body
            .news-modal__content
                h2.modal-form__title Майские поступления
                img.news-modal__img(src="assets/img/news-1.jpg" alt="Майские поступления" width="360" height="200")
                span.news__date 26.03.2023

