mixin about-steps()
    section.about-steps
        h2.about-steps__title
        .about-steps__wrapper
            img.about-steps__img.left(src="assets/img/step-2.svg" alt='Устройство кабины' width="220" height="600")
            img.about-steps__img.left(src="assets/img/step-1.svg" alt='Устройство кабины виж сверху' width="611" height="600")
            img.about-steps__img.left(src="assets/img/step-3.svg" alt='Устройство кабины' width="220" height="600")
