mixin banners()
    section.banners
        .banners__top
            .banners__content
                h1.banners__header-h1 ОФИЦИАЛЬНЫЙ ДИСТРИБЬЮТЕР STG COBRA В ЮФО И СКФО
                p.banners__caption Новый уровень мощности и производительности
                .banners__buttons
                    .banners__button.yellow Узнать цену
                    .banners__button.white Каталог
        .banners__bottom
            .banners__content.bottom
                h2.banners__header-h2 ЭКСКАВАТОРЫ–ПОГРУЗЧИКИ STG COBRA
                p.banners__caption.bottom Максимальная мощность, производительность, комфорт и безопасность
                .banners__button.bottom.yellow Экскаваторы-погрузчики STG COBRA

