mixin banners()
    section.banners
        .banners__top
            .banners__content
                h1.banners__header-h1 ОФИЦИАЛЬНЫЙ ДИСТРИБЬЮТЕР STG COBRA В ЮФО И СКФО
                p.banners__caption Новый уровень мощности и производительности
                .banners__buttons
                    button.banners__button.yellow(type="button" data-show-modal) Узнать цену
                    button.banners__button.white(type="button" href="#cards") Каталог
        .banners__bottom
            .banners__content.bottom
                h2.banners__header-h2 ЭКСКАВАТОРЫ–ПОГРУЗЧИКИ STG COBRA
                p.banners__caption.bottom Максимальная мощность, производительность, комфорт и безопасность
                button.banners__button.bottom.yellow(type="button") Экскаваторы-погрузчики STG COBRA

