mixin contacts()
    sections.contacts(id="contacts")
        .contacts__info
            .contacts__info-wrapper
                h2.contacts__title Контакты
                ul.contacts__list.otdely
                    li.contacts__item
                        h3.contacts__item-title Отдел продаж
                        a.contacts__phone(href="tel:88632018831") 8 (863) 201-88-31
                        a.contacts__email(href="mailto:sale@yah.su") sale@yah.su
                    li.contacts__item
                        h3.contacts__item-title Сервис и запчасти
                        a.contacts__phone(href="tel:88632018324") 8 (863) 201-83-24
                        a.contacts__email(href="mailto:service@yah.su") service@yah.su
                    li.contacts__item
                        h3.contacts__item-title Горячая линия
                        a.contacts__phone(href="tel:88005553064") 8 (800) 555-30-64
                        a.contacts__email(href="mailto:info@yah.su") info@yah.su
                ul.contacts__list.citys
                    li.contacts__item
                        h3.contacts__item-title Ростов-на-Дону
                        a.contacts__phone(href="tel:88005553064") 8 (800) 555-30-64
                        a.contacts__phone(href="tel:88632018831") 8 (863) 201-88-31
                    li.contacts__item
                        h3.contacts__item-title Краснодар
                        a.contacts__phone(href="tel:88632018324") 8 (800) 555-30-64
                        a.contacts__email(href="mailto:service@yah.su") 8 (928) 100-07-35
                    li.contacts__item
                        h3.contacts__item-title Минеральные Воды
                        a.contacts__phone(href="tel:88005553064") 8 (800) 555-30-64
                        a.contacts__phone(href="tel:89281005547") 8 (928) 100-55-47
                    li.contacts__item
                        h3.contacts__item-title Волгоград
                        a.contacts__phone(href="tel:88005553064") 8 (800) 555-30-64
                        a.contacts__phone(href="tel:89281008815") 8 (928) 100-88-15
                    li.contacts__item
                        h3.contacts__item-title Воронеж
                        a.contacts__phone(href="tel:88005553064") 8 (800) 555-30-64
                        a.contacts__phone(href="tel:89281005547") 8 (928) 100-55-47
                    li.contacts__item
                        h3.contacts__item-title Саратов
                        a.contacts__phone(href="tel:88005553064") 8 (800) 555-30-64
                        a.contacts__phone(href="tel:89281000735") 8 (928) 100-07-35

        .contacts__map
            script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2fbe87fcbb7de2cead288e547de590667843266d270ac7050d965626def85a98&amp;width=608&amp;height=581&amp;lang=ru_RU&amp;scroll=true")
            //iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A2fbe87fcbb7de2cead288e547de590667843266d270ac7050d965626def85a98&amp;source=constructor" width="100%" height="100%" frameborder="0")
            //iframe(src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=true&amp;um=constructor%3A8818967ad3a38ec36e52c0f787f0e596954c70f1e339f7ef1541ab027a7ea161" frameborder="0" allowfullscreen="true" width="100%" height="auto" style="display: block;")
