mixin advantages()
    section.advantages
        h2.advantages__title 5 причин работать с нами
        ul.advantages__list
            li.advantages__item
                span.advantages__number 1
                span.advantages__text Наличие склада запасный частей и выездных сервисных бригад
            li.advantages__item
                span.advantages__number 2
                span.advantages__text Официальная заводская гарантия
            li.advantages__item
                span.advantages__number 3
                span.advantages__text Гибкая система скидок, индивидуальный подход
            li.advantages__item
                span.advantages__number 4
                span.advantages__text Широкий ассортимент навесного оборудования
            li.advantages__item
                span.advantages__number 5
                span.advantages__text Качество продукции и профессионализм наших сотрудников
        img.advantages__sertificate(alt="Сертификат ООО ТСП ЮГАВТОХОЛДИНГ" src="assets/img/sertificate.svg" width="50%")

