include ../sections/header/header
include ../sections/footer/footer
include ../sections/menu/menu
include ../sections/modal-form/modal-form
include ../components/success-modal/success-modal

include ../components/card-modal/card-modal-1
include ../components/card-modal/card-modal-2
include ../components/card-modal/card-modal-3

include ../components/news-modal/news-modal-1
include ../components/news-modal/news-modal-2
include ../components/news-modal/news-modal-3

block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body(class=pageClass)
    +menu()
    .body-content
      +header()
      block content
      +footer()
      +modal-form()
      +success-modal()

      +card-modal-1()
      +card-modal-2()
      +card-modal-3()

      +news-modal-1()
      +news-modal-2()
      +news-modal-3()


  block script
