include ../sections/header/header
include ../sections/footer/footer
include ../sections/menu/menu
include ../sections/modal-form/modal-form

block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body(class=pageClass)
    +menu()
    .body-content
      +header()
      block content
      +footer()
      +modal-form()


  block script
